.user-container {
  border: 5px solid brown;
  padding: 1rem;
}

.user-container h3 {
  margin: 0;
}

.user-container h3:first-child {
  border-bottom: 1px solid black;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
